@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: rgb(148 163 184 / 1);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background: rgba(15, 23, 42, 1);
}

h1,
h2,
h3 {
  color: rgb(226 232 240 / 1);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

a[aria-current="page"] {
  color: rgba(226, 232, 240, 1);
  font-weight: bolder;
}

a[aria-current="page"] span {
  background: rgba(226, 232, 240, 1);
  width: 4rem;
}
